.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  margin-top: 0px;
  width: 200px;
}

.mb-30 {
  margin-bottom: 30px;
}

.form {
  width: 300px !important;
  margin:40px auto;
}

.image-controller-card-image {
  margin-bottom: 30px;
  border: none;
  display: none;
}

.image-res {
  width: 100%;
  height: 120px;
}

.pick-image-text {
  display: none;
}

@media (min-width: 600px) {
  .form {
    width: 700px !important;
  }
}

@media (min-width: 992px) {
  .image-controller-card-image {
    display: block;
  }
  .pick-image-text {
    display: block;
  }
}